@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --base-color: #ffffff;
  --text-color: #000000;
  --primary-color: #ffc06e;
  --secondary-color: #8D8DFF;
  --color-1: #F9F6F3;
  --color-2: #F3F7F9;
  --color-3: #F6F3F9;
  --retro-1: #D52429;
  --retro-2: #F1602c;
  --retro-3: #EC8922;
  --retro-4: #915018;
  --retro-5: #6C3F18
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: Merriweather;
}

nav {
    margin: 1em auto 3em auto;
    width: min(10000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
    font-family: Merriweather, Roboto;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em, auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-item: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

.text-container p {
    text-align: center;
    padding: 25px 1px;
    margin: 0.75em 0 1em 0;
    font-size: 1.5rem;
}

.bottom-element {
    padding: 25px 1px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--retro-1);
    padding: 0.75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.second {
    background-color: var(--retro-2);
}

.third {
    background-color: var(--retro-3);
}

.fourth {
    background-color: var(--retro-4);
}

.fifth{
    background-color: var(--retro-5)
}





